<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="/css/weui.css"/>
    <title>拾物详情</title>
</head>
<body>
<div id="wrap">
    <div id="mainbody"></div>
</div>


<script type="text/template" id="tpl-mainbody">
{% if found %}

    <div class="weui-flex">
        <div class="weui-flex__item" style="background-color: #f9f9f9">
            <img src="{{ found.picUrl }}" style="width: 90%; padding: 10px 0px; display: block; margin-left: auto; margin-right: auto; border-radius: 5%">
        </div>
    </div>
    <div class="weui-flex">
        <div class="weui-media-box weui-media-box_text">
            <h4 class="weui-media-box__title">{{ found.name }}</h4>
            <p style="color: #777777; font-size: 13px; line-height: 1.5;">{{ found.description }}</p>
            <ul class="weui-media-box__info">
                <li class="weui-media-box__info__meta"><img src="/img/location2.png" style="margin-right:5px; vertical-align:middle">{{ found.foundPlace }}</li>
                {% if found.showtime %}
                <li class="weui-media-box__info__meta" style="float:right">{{ found.showtime }}</li>
                {% endif %}
            </ul>
        </div>
    </div>
    <div class="weui-flex">
        <div class="weui-flex__item" style="background-color: #f9f9f9">
            <div class="weui-media-box weui-media-box_text">
                <p style="font-size: 14px; line-height: 1.5; line-height: 2">联系人：{{ found.contacts }}</p>
                <p style="font-size: 14px; line-height: 1.5; line-height: 2">{{ found.contactType }}：{{ found.contactNumber }}</p>
            </div>
        </div>
    </div>
{% endif %}
</script>

<script src="/3rd/jquery.js"></script>
<script src="/3rd/swig.js"></script>
<script src="/js/weixin_lib.js"></script>
<script src="/js/base.js"></script>

<script>
    var locals = {};
    var render = function () {
        $('#mainbody').html(swig.render($('#tpl-mainbody').html(), {locals: locals}));
    };
    $(function () {
        render();
        api.get('/api/u/found/detail', {id: urlParam.id}, function (data) {
            locals.found = data;
            updateDate(locals.found,'foundTime');
            if( locals.found.foundTime.yyyymmdd() != '1970-01-01')
                    locals.found.showtime = locals.found.foundTime.yyyymmdd();
            if( locals.found.foundPlace == "")
                    locals.found.foundPlace = "不详";
            render();
        }, dftFail);
    });
</script>
</body>
</html>