<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        #content {
            padding-top: 80px;
        }
    </style>
    <link href="/3rd/bs/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/css/adminpage_detail.css" />
    <title>新建 - 失物招领处管理员</title>
</head>
<body>
    <header class="navbar navbar-default navbar-fixed-top navbar-header" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" style="cursor:default" id="nav-title"></a>
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" id="nav-li"></ul>
                <ul class="nav navbar-nav navbar-right" id="nav-li-right"></ul>
            </div>
        </div>
    </header>

    <div id="content" class="content-style"></div>

    <footer class="bs-footer" role="contentinfo">
        <hr>
        <div class="container" id="footer" style="text-align: center"></div>
    </footer>

<script type="text/template" id="tpl-nav-title">
    <ul class="internetke">
        <li>
            <a href="#" class="ke5"><span><span><span><span><span><span><span>
             L&</br>
                &F</span></span></span></span></span></span></span></a>
        </li>
        <li style="margin-top: 0.48em; font-size: 22px;">
           &nbsp; 学校失物招领处
        </li>
    </ul>
</script>

<script type="text/template" id="tpl-nav-li">
    <li><a class="btn-link" style="margin-top: 0.48em; font-size: 19px;" href="/a/adminpage/list">我的发布</a></li>
    <li class="active">
        {% if isCreate %}
            <a style="margin-top: 0.48em; font-size: 19px;" href="/a/adminpage/detail?create=1&adminName={{adminName }}">新建发布</a>
        {% else %}
            <a style="margin-top: 0.48em; font-size: 19px;" href="/a/adminpage/detail?id={{ activity_id }}"> {{ "正在载入" }} </a>
        {% endif %}
    </li>
</script>

<script type="text/template" id="tpl-nav-li-right">
    <li><a href="javascript:;" style="margin-top: 0.48em; font-size: 19px; color: #9B9B9B" >{{ adminName }}</a></li>
    <li><a href="javascript:;" style="margin-top: 0.48em; font-size: 19px;" onclick="logout()" >注销</a></li>
</script>

<script type="text/template" id="tpl-content">

    {% if status == 2 %}
    <div class="container" id="detail-result">
        <h1>处理结果</h1>
        <pre id="resultHolder">{{ processResult|default('成功') }}</pre>
        <div class="col-sm-offset-2">
            <a class="btn btn-info" href="javascript:backToForm();">继续发布</a>
            <a class="btn btn-success" href="/a/adminpage/list">返回列表</a>
        </div>
    </div>
    {% else %}
    <div class="container" id="detail-form">
        <form class="form-horizontal" role="form" method="post" action="{% if isCreate %}/api/a/adminpage/create{% else %}/api/a/adminpage/detail{% endif %}" id="adminpage-form">

            <div class="form-group">
                <label for="input-type-label" class="col-sm-2 control-label"><img src="/img/tag.png" style="width: 1.4em;"/> &nbsp;类型标签:</label>

                <div class="form-inline col-sm-10" id="input-start_time">
                    <div class="form-group date-input">
                        <select name="type" class="form-control" id="input-type-label">
                            {% if typeList %}
                                {% for item in typeList %}
                                 <option>{{ item }}</option>
                                {% endfor %}
                            {% endif %}
                        </select>
                    </div>

                </div>
            </div>

            <div class="form-group">
                <label for="input-pic_url" class="col-sm-2 control-label" min="0"><img src="/img/picture.png" style="width: 1.4em;"/> &nbsp;物品图片</label>
                <div class="col-sm-10">
                    <input type="file" name="uploadPic" multiple="multiple" class="btn btn-info" style="width:17%;float:left;" id="fileUploadBtn" onclick="uploadImage();" accept="image/*" />
                </div>
                <div id="imgDisplay"></div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    {% if isCreate %}
                    <button type="button" onclick="publishActivity();" class="btn btn-primary" id="publishBtn">发布</button>
                    {% endif %}
                    {% if isCreate %}
                    <button type="reset" class="btn btn-warning" id="resetBtn">重置</button>
                    {% endif %}
                </div>
            </div>
        </form>
    </div>

    {% endif %}
</script>

<script type="text/template" id="tpl-footer">
    <a href="/u/lost/list" target="_blank">失物招领</a> |
    <a href="/u/found/list" target="_blank">寻物启事</a><br>
    &copy; 2016
</script>

<script src="/3rd/jquery.js"></script>
<script src="/3rd/bs/js/bootstrap.min.js"></script>
<script src="/3rd/swig.js"></script>
<script src="/js/base.js"></script>
<script src="/js/base_admin.js"></script>
<script src="/js/adminpage_detail.js"></script>

<script>
    var locals = {
        status: urlParam.create ? -1 : 0,
        isCreate: urlParam.create,
        adminName: urlParam.adminName,
        now: new Date(),
        processResult: '',
        imgNum: 0,
        picUrl: '',
    };
    var renderTemplate = function (name) {
        $('#' + name).html(swig.render($('#tpl-' + name).html(), {locals: locals}));
    };
    var render = function () {
        renderTemplate('nav-title');
        renderTemplate('nav-li');
        renderTemplate('nav-li-right');
        renderTemplate('content');
        renderTemplate('footer');

        $('.form-control').on('focus', function() {var me = $(this); setTimeout(function(){me.select();}, 100)});

        if (urlParam.create) {
            api.form($('#adminpage-form'), function (id) {
                // success
                locals.ac.id = id;
            }, function (errno, errmsg, e) {
                // fail
                locals.processResult = '失败: [' + errno + '] ' + errmsg + (e ? ": " + e : "");
            }, function (data) {
                // before
                data.status = 0;
                wrapDate(data, 'publishTime');
                if (!locals.adminpage) {
                    locals.adminpage = {};
                }
                updateObj(locals.adminpage, data);
                if (checktime() && checkname() && checkticket()) {
                    locals.status = 1;
                    locals.processResult = '';
                    render();
                    return true;
                } else {
                    return false;
                }
            }, function () {
                // complete
                locals.status = 2;
                render();
            });
        } else {
            api.form($('#adminpage-form'), function () {

            }, function (errno, errmsg, e) {
                locals.processResult = '失败: [' + errno + '] ' + errmsg + (e ? ": " + e : "");
            }, function (data) {
                data.status = 0;
                wrapDate(data, 'publishTime');
                updateObj(locals.adminpage, data);
                if (checktime() && checkname() && checkticket()) {
                    locals.status = 1;
                    locals.processResult = '';
                    render();
                    return true;
                } else {
                    return false;
                }
            }, function () {
                locals.status = 2;
                render();
            });
        }

        //上传图片
        $('#fileUploadBtn').on('change', function () {
            var len = this.files.length;
            for (var i = 0; i < len; i++) {
                var form = new FormData();
                form.append('image', this.files[i]);
                api.postForm('/api/a/image/upload', form, function (imagePath) {
                    locals.picUrl = imagePath + ";" + locals.picUrl;
                }, dftFail);
            }
            setImagePreviews();
        });
        $('#resetBtn').on('click', function(){
            locals.imgNum = 0;
            locals.picUrl = '';
            document.getElementById("imgDisplay").innerHTML = "";
        })
    };

    function setImagePreviews() {
        var fileUpload = document.getElementById("fileUploadBtn");
        var imgDisplay = document.getElementById("imgDisplay");
        var fileList = fileUpload.files;
        var len = fileList.length;
        for (var i = locals.imgNum; i < (len + locals.imgNum); i++) {
            imgDisplay.innerHTML += "<div style='float:left' > <img id='img" + i + "'  /> </div>";
            var imgObjPreview = document.getElementById("img"+i);
            if (fileUpload.files && fileUpload.files[i - locals.imgNum]) {
                //火狐下，直接设img属性
                imgObjPreview.style.display = 'block';
                imgObjPreview.style.width = '150px';
                imgObjPreview.style.height = '180px';
                //imgObjPreview.src = fileUpload.files[0].getAsDataURL();
                //火狐7以上版本不能用上面的getAsDataURL()方式获取，需要一下方式
                imgObjPreview.src = window.URL.createObjectURL(fileUpload.files[i - locals.imgNum]);
            }
            else {
                //IE下，使用滤镜
                fileUpload.select();
                var imgSrc = document.selection.createRange().text;
                alert(imgSrc)
                var localImagId = document.getElementById("img" + i);
                //必须设置初始大小
                localImagId.style.width = "150px";
                localImagId.style.height = "180px";
                //图片异常的捕捉，防止用户修改后缀来伪造图片
                try {
                    localImagId.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale)";
                    localImagId.filters.item("DXImageTransform.Microsoft.AlphaImageLoader").src = imgSrc;
                }
                catch (e) {
                    alert("您上传的图片格式不正确，请重新选择!");
                    return false;
                }
                imgObjPreview.style.display = 'none';
                document.selection.empty();
            }
        }
        locals.imgNum += len;
        return true;
    }


    $(function () {
        swig.setDefaultTZOffset(new Date().getTimezoneOffset());
        loginRequired(function () {
            api.get('/api/a/adminpage/typeList', {}, function (data) {
                locals.status = -1;
                data.id = parseInt(urlParam.id);
                updateDate(data, 'publishTime', 'currentTime');
                locals.typeList = data;
                console.info(locals.typeList);
                render();
            }, dftFail);
        });
    });

    var backToForm = function () {
        locals.status = 1;
        locals.processResult = '';
        render();
    };
    var publishActivity = function () {
        var data = {};
        var form = $('#adminpage-form');

        var obj = document.getElementById("input-type-label"); //定位id
        var index = obj.selectedIndex; // 选中索引
        var text = obj.options[index].text; // 选中文本
        data.type = $('#input-type-label').find("option:selected").text();//选中的文本
        wrapDate(data, 'publishTime');
        if (!locals.adminpage) {
            locals.adminpage = {};
        } else {
            data.publisherId = locals.adminpage.id;
        }
        data.picUrl = locals.picUrl;
        updateObj(locals.adminpage, data);
        console.log(locals.adminpage);

        if (1) {
            locals.status = 1;
            locals.processResult = '';
            render();
            api.post(form.attr('action'), data, function (id) {
                if (urlParam.create) {
                    locals.adminpage.id = id;
                }
                console.log("sucess");
            }, function (errno, errmsg, e) {
                locals.processResult = '失败: [' + errno + '] ' + errmsg + (e ? ": " + e : "");
            }, function () {
                locals.status = 2;
                render();
            });
        } else {
            return false;
        }
    };
    var uploadImage = function () {
        $('#fileUploadBtn').click();
    };
    var enableFields = function (fields) {
        for(var i = 0;i < fields.length; i++) {
            var field = fields[i];
            if (field instanceof(Array)) {
                for (var j = 0;j < field.length; j++) {
                    field[j].disabled = false;
                }
            } else {
                field.disabled = false;
            }
        }
    }
</script>
</body>
</html>
